<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Afficher les Commandes</title>
</head>
<body>
    <h1>Liste des Commandes</h1>
    <table border="1">
        <tr>
            <th>ID Commande</th>
            <th>ID Utilisateur</th>
            <th>Status</th>
            <th>Détails</th>
        </tr>
        <tr th:each="commande : ${commandes}">
            <td th:text="${commande.idCommande}"></td>
            <td th:text="${commande.idUtilisateur}"></td>
            <td th:text="${commande.status}"></td>
            <td>
                <ul>
                    <li th:each="detail : ${commande.detailCommande}">
                        Produit: <span th:text="${detail.produit.name}"></span>, 
                        Quantité: <span th:text="${detail.quantite}"></span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>
