<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/stat.js" th:src="@{/js/stat.js}" type="text/javascript"></script>
    <title>Statistiques des Commandes</title>
</head>
<body>
    <h2>Statistiques des Commandes</h2>
    <p>Nombre de commandes avec statut 1: <span id="status1" th:text="${nombreCommandesStatus1}"></span></p>
    <p>Nombre de commandes avec statut 2: <span id="status2" th:text="${nombreCommandesStatus2}"></span></p>
    <p>Nombre de commandes avec statut 3: <span id="status3" th:text="${nombreCommandesStatus3}"></span></p>
    <div style="width: 400px; height: 400px; position: fixed;">
	    <canvas id="myChart"></canvas>
	</div>

    
</body>
</html>
