<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}">
	<link rel="stylesheet" href="/css/form.css" th:href="@{/css/form.css}">
	<script src="/js/index.js" th:src="@{/js/index.js}" type="text/javascript"></script>

    <title>Ajouter une categorie</title>
</head>
<body>
	<header class="absolute inset-x-0 top-0 z-50 w-full">
	      <div th:replace="~{navbar :: navbar}"></div>
	</header>
	
		
<body>
<body>
	<div style="margin-top: 200px;">
	    <form th:action="@{/saveCategorie}" th:object="${categorie}" method="post">
	        Nom: <input type="text" th:field="*{name}" />
	        <input type="hidden" th:field="*{id}" />
	        <input type="submit" value="Ajouter" />
	        
	    </form>
	</div>
</body>
</html>
