<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Créer une Commande</title>
</head>
<body>
    <h1>Créer une Commande</h1>
    <form action="/validerPanier/saveCommande" method="post">
        <label for="idUtilisateur">ID Utilisateur:</label>
        <input type="number" id="idUtilisateur" name="idUtilisateur" required><br><br>

        <h2>Produits</h2>
        <div th:each="produit, iterStat : ${produits}">
		    <input type="checkbox" th:name="'idProduits'" th:value="${produit.id}">
		    <span th:text="${produit.name}"></span>
		    <label for="quantites">Quantité:</label>
		    <input type="number" th:name="'quantites'" required>
		    <br>
		</div>
        

        <br>
        <button type="submit">Soumettre</button>
    </form>
</body>
</html>
