<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mon Panier</title>
</head>
<body>
    <h1>Mon Panier</h1>
    <table>
        <tr>
            <th>Produit</th>
            <th>Catégorie</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix total</th>
        </tr>
        <tr th:each="detail : ${detailPanierList}">
            <td th:text="${detail.produit.name}"></td>
            <td th:text="${detail.categoriePlace.nomCategoriePlace}"></td>
            <td th:text="${detail.quantite}"></td>
            <td th:text="${detail.categoriePlace.prix}"></td>
            <td th:text="${detail.quantite * detail.categoriePlace.prix}"></td>
        </tr>
    </table>
    
    <form th:action="'/enregistrerPanier'" method="post">
        <button type="submit">Valider Panier</button>
    </form>
</body>
</html>
