<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="navbar">
	  <head>
		<meta charset="UTF-8">
		<title>Navbar</title>
		<link rel="stylesheet" href="/css/navbar.css" th:href="@{/css/navbar.css}">
		<script src="/js/navbar.js" th:src="@{/js/navbar.js}" type="text/javascript"></script>
	</head>
	
	<nav class="bg-gray-800" >
	    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
	      <div class="relative flex h-16 items-center justify-between">
	        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
	           <!-- Mobile menu button -->
	          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" id="mobile-menu-button" aria-controls="mobile-menu" aria-expanded="false">
	            <span class="absolute -inset-0.5"></span>
	            <span class="sr-only">Open main menu</span>
	            
	            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
	              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
	            </svg>
	            
	        
	            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
	              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
	            </svg>
	          </button>
	        </div>
		
	        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
	          <div class="flex flex-shrink-0 items-center">
				<a th:href="@{/index}">
	            <img class="h-12 w-auto" th:src="@{/img/logo_ticketwave.png}" alt="Your Company">
				</a>
	          </div>
	          <div class="hidden sm:ml-6 sm:block">
	            <div class="flex space-x-4">
	              <a th:href="@{/index}" th:classappend="${activePage == '@{/index}'} ? 'button-active' : 'button-inactive'" class="navbar-button block rounded-md px-3 py-2 text-base font-medium" >Accueil</a>
	             <div th:each="categorie : ${categories}">
			            <a th:href="@{/produit/{idCategorie}(idCategorie=${categorie.id})}" th:text="${categorie.name}" th:classappend="${activePage == '@{/produit/{idCategorie}(idCategorie=${categorie.id})}'} ? 'button-active' : 'button-inactive'" class="navbar-button block rounded-md px-3 py-2 text-base font-medium" ></a>
			      </div>


			     

			  <div th:if="${isUserLoggedIn != null && isAdmin}" class="flex items-center justify-center z-50">
				<div th:if="${isUserLoggedIn != null && isAdmin}" class=" relative inline-block text-left dropdown">
				  <span th:if="${isUserLoggedIn != null && isAdmin}" class="rounded-md shadow-sm">
					  <button th:if="${isUserLoggedIn != null && isAdmin}" class="admin-menu-button inline-flex justify-center w-full px-3 py-2 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out bg-gray-800 border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800" 
					 type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
					  <span th:if="${isUserLoggedIn != null && isAdmin}" >Options</span>
					  <svg th:if="${isUserLoggedIn != null && isAdmin}" class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
					  </button>
				  </span>
				  <div th:if="${isUserLoggedIn != null && isAdmin}" class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95" id="dropdown-menu">
					<div th:if="${isUserLoggedIn != null && isAdmin}" class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
					  <div th:if="${isUserLoggedIn != null && isAdmin}" class="py-1">
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/addProduit}" tabindex="0" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100"  role="menuitem" >+ Produit</a>
						<a th:if="${isUserLoggedIn != null && isUserLoggedIn}" th:href="@{/addCategorie}"  tabindex="1" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100"  role="menuitem" >+ Catégorie</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/addDetailProduit}" tabindex="2" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >+ Detail produit</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/ajouterCategoriePlace}" tabindex="3" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >+ Categorie place</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/produit}" tabindex="4" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >All produit</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/categorie}" tabindex="5" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >All categorie</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/commande/afficher}" tabindex="6" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >Gérer les commandes</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/commande/afficherStats}" tabindex="7" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >Statistiques commandes</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/contactList}" tabindex="8" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >Demandes de contact</a>

					  </div>
					</div>
				  </div>
				</div>
			  </div>
	            </div>
				
	          </div>


	        </div>

			<div class='hidden sm:block mx-auto searchbar_container'>
				<div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-slate-700 searchbar_under_container">
					<div class="grid place-items-center h-full w-12 text-gray-300">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
						</svg>
					</div>
			
					<input
					class="h-full w-full text-sm text-gray-700 pr-2 bg-slate-700 rounded-lg searchbar_input outline-none"
					type="text"
					id="searchbar"
					placeholder="Rechercher un produit" /> 
					<ol id='results-list' class="left-0 absolute bg-white border-gray-200 border-dashed rounded-lg"></ol>

				</div>
			</div>



	        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
			<a th:href="@{/monPanier}">
	          <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
	            <span class="absolute -inset-1.5"></span>
	            <span class="sr-only">View cart</span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
					<path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
				</svg>
	          </button>
			</a>
	  
	          <div class="relative ml-3">
	            <div>
	              <button type="button" class="relative flex rounded-full bg-gray-800 text-gray-400 text-sm hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
	                <span class="absolute -inset-1.5"></span>
	                <span class="sr-only">Open user menu</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10">
						<path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
					</svg>
	              </button>
	            </div>
	  
	            <div class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" id="user-menu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
				  <a th:if="${isUserLoggedIn != null && isUserLoggedIn}" th:href="@{/contact}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="3" id="user-menu-item-2">Nous contacter</a>
				  <a th:if="${isUserLoggedIn != null && isUserLoggedIn}" th:href="@{/logout}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="0" id="user-menu-item-0">Déconnexion</a>
				  <a th:if="${isUserLoggedIn == false or isUserLoggedIn == null}" th:href="@{/login}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="1" id="user-menu-item-1">Connexion</a>
				  <a th:if="${isUserLoggedIn == false or isUserLoggedIn == null}" th:href="@{/register}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="2" id="user-menu-item-2">S'inscrire</a>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  
	    <div class="hidden sm:hidden" id="mobile-menu">
	      <div class="space-y-1 px-2 pb-3 pt-2">
			<div>
	        <a th:href="@{/index}" class="bg-gray-300 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Accueil</a>
			</div>
			<div th:each="categorie : ${categories}">
	            <a th:href="@{/produit/{idCategorie}(idCategorie=${categorie.id})}" th:text="${categorie.name}" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"></a>
	      	</div>
				   <div th:if="${isUserLoggedIn != null && isAdmin}" class="flex items-center justify-center z-50">
					<div th:if="${isUserLoggedIn != null && isAdmin}" class=" relative inline-block text-left dropdown">
					  <span th:if="${isUserLoggedIn != null && isAdmin}" class="rounded-md shadow-sm">
						  <button th:if="${isUserLoggedIn != null && isAdmin}" class="admin-menu-button inline-flex justify-center w-full px-3 py-2 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out bg-gray-800 border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800" 
						 type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
						  <span th:if="${isUserLoggedIn != null && isAdmin}" >Options</span>
						  <svg th:if="${isUserLoggedIn != null && isAdmin}" class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
						  </button>
					  </span>
					  <div th:if="${isUserLoggedIn != null && isAdmin}" class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95" id="dropdown-menu">
						<div th:if="${isUserLoggedIn != null && isAdmin}" class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
						  <div th:if="${isUserLoggedIn != null && isAdmin}" class="py-1">
							<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/addProduit}" tabindex="0" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100"  role="menuitem" >+ Produit</a>
						<a th:if="${isUserLoggedIn != null && isUserLoggedIn}" th:href="@{/addCategorie}"  tabindex="1" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100"  role="menuitem" >+ Catégorie</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/addDetailProduit}" tabindex="2" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >+ Detail produit</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/ajouterCategoriePlace}" tabindex="3" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >+ Categorie place</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/produit}" tabindex="4" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >All produit</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/categorie}" tabindex="5" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >All categorie</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/commande/afficher}" tabindex="6" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >Gérer les commandes</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/commande/afficherStats}" tabindex="7" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >Statistiques commandes</a>
						<a th:if="${isUserLoggedIn != null && isAdmin}" th:href="@{/contactList}" tabindex="8" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left hover:bg-gray-100" role="menuitem" >Demandes de contact</a>
						  </div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>


				  <a th:if="${isUserLoggedIn == null}" th:href="@{/login}" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium hover:bg-gray-100" >Connexion</a>
				  <a th:if="${isUserLoggedIn == null}" th:href="@{/register}" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium hover:bg-gray-100" >S'inscrire</a>

	    </div>
	    
				
				
			
	  </nav>

		
		
 


</div>

