<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produits</title>
    <link rel="stylesheet" href="/css/produitList.css" th:href="@{/css/produitList.css}">
</head>

<header class="absolute inset-x-0 top-0 z-50 w-full">
	<div th:replace="~{navbar :: navbar}"></div>
</header>

<body>
    <h2>Produits</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Numero de place</th>
            </tr>
        </thead>
        <tbody>
		    <tr>
		        <td th:text="${produit.id}"></td>
		        <td th:text="${produit.name}"></td>
		        <td th:text="${produit.prix}"></td>
		        <td th:text="${produit.stock}"></td>
		        <td th:text="${produit.numeroPlace}"></td>
		        <td><img th:src="@{/displayImage/{id}(id=${produit.id})}" alt="Image" width="100" height="100" /></td>
		        <td><a  th:href="@{/index}">Revenir à l'accueil</a></td>
		    </tr>
		</tbody>


    </table>

	    <form th:action="@{/ajouterPanier}" method="post" style="display: block;">
	       <input type="hidden" th:name="idProduit" th:value="${produit.id}" />
		   <input type="number" th:name="quantite" />
			<input type="hidden" th:name="id" />
	        <input type="submit" value="Ajouter" />
	    </form>



</body>
</html>