<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produits</title>
</head>
<body>
    <h2>Produits</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Numero de place</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>

          <tr th:each="produits : ${produits}">
                <td th:text="${produits.id}"></td>
                <td th:text="${produits.name}"></td>
                <td th:text="${produits.prix}"></td>
                <td th:text="${produits.stock}"></td>
                <td th:text="${produits.numeroPlace}"></td>
				<td th:text="${produits.categorie != null ? produits.categorie.name : 'N/A'}"></td>
                <td><img th:src="@{/displayImage/{id}(id=${produits.id})}" alt="Image" width="100" height="100" /></td>
                <td><a th:href="@{/deleteProduct/{id}(id=${produits.id})}" onclick="return confirm('Are you sure you want to delete this product?')">Supprimer</a></td>
                <td><a th:href="@{/editProduct/{id}(id=${produits.id})}">Modifier</a></td>
    	</tr>
      

        

        </tbody>
    </table>
</body>
</html>
