.flex{
  display: flex
}

.gap-x-6{
  column-gap: 1.5rem
}

.bg-indigo-600{
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity))
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-3\.5{
  padding-left: 0.875rem;
  padding-right: 0.875rem
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.font-semibold{
  font-weight: 600
}

.hover\:bg-indigo-500:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity))
}

.focus-visible\:outline:focus-visible{
  outline-style: solid
}

.focus-visible\:outline-2:focus-visible{
  outline-width: 2px
}

.focus-visible\:outline-offset-2:focus-visible{
  outline-offset: 2px
}

.focus-visible\:outline-indigo-600:focus-visible{
  outline-color: #4f46e5
}
